*out.txt
*.out
*.bak
*~*
*.bin
*.pyc
*.tmp
*.uvguix.*
*.uvgui.*
*.uvoptx

JLinkLog.txt
JLinkSettings.ini
archive.zip
out.txt

sources/generated/*
sources/ThirdParty/wxWidgets/generated/*

doc/doxygen/S8-57/*

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Objects/*
sources/DeviceLoader/DebugConfig/*
sources/DeviceLoader/Listings/*
sources/DeviceLoader/Objects/*
sources/DLoader/DebugConfig/*
sources/DLoader/Listings/*
sources/DLoader/Objects/*

sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*

sources/fonts/big/out/*
