*.out

JLinkLog.txt
JLinkSettings.ini

doc/doxygen/OSC/*

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Objects/*

sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*

sources/VS/OSC/Device/Debug/*

sources/VS/ThirdParty/SDL2/lib/*
sources/VS/ThirdParty/wxWidgets/lib/vc_lib/*
